.wrapper {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.home-content {
    padding-top: 20px;
    min-height: 500px;
}
.tabs-custom {
    flex-direction: row !important;
    justify-content: center !important;
    width: 100% !important;
    margin-bottom: var(--default-layout-horizontal-spacer) !important;
    width: var(--default-layout-width) !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    max-width: 700px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 0 !important;
    li:first-of-type > button {
        text-align: left !important;
    }
    li:last-of-type > button {
        text-align: right !important;
    }
}
:global(.nav-link:before, .nav-link:after) {
    content: '';
    display: inline-block;
}

:global(.nav-link) {
    color: #d9d9dd !important;
    border: 0 !important;
}

:global(.nav-tabs .nav-link) {
    position: relative !important;
    padding-bottom: 15px !important;
    color: #8e8e8e !important;
}

:global(.nav-link.active) {
    color: #231f20 !important;
}

:global(.nav-link:after, .nav-link:before) {
    content: '';
    position: absolute !important;
    bottom: 0 !important;
    height: 2px !important;
    transition: all 0.3s !important;
}

:global(.nav-link:before) {
    left: 0 !important;
    width: 100% !important;
    background-color: #d9d9dd !important;
}

:global(.nav-link:after) {
    right: 0 !important;
    left: auto !important;
    width: 0 !important;
    background-color: #000 !important;
}

:global(.nav-link.active:after) {
    left: 0 !important;
    right: auto !important;
    width: 100% !important;
    transition: all ease-in-out 0.2s !important;
}
