.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 30px;
    height: 50px;
    padding: 0 15px;
}
.menu-link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    padding: 0;
    white-space: nowrap;
}
